@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Sprat";
  src: url("./assets/fonts/SpratCndRegular.woff2") format("woff2"),
    url("./assets/fonts/SpratCndRegular.woff") format("woff");
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Space Grotesk", sans-serif;
  background: black;
}

body {
  box-sizing: relative;
}

canvas {
  display: block;
}

.loadingclass {
  position: relative;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
}

.privacyStatement.show {
  display: inline;
  position: absolute;
  top: 0px;
  opacity: 100%;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.privacyStatement.hide {
  display: inline;
  position: absolute;
  top: 0px;
  opacity: 0%;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.privacyStatementText {
  position: relative;
  word-break: break-all;
  background: rgb(136, 14, 79);
  margin: 10px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-family: "Sprat", serif;
  font-size: 100%;
}

.emoji.show {
  opacity: 100%;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  font-size: 500%;
}

.emoji.hide {
  opacity: 0%;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  font-size: 500%;
}

.wrapper {
  position: fixed;
  bottom: 0%;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 325px;
  background: rgb(205, 220, 57);
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
}

.cookieConsent p {
  margin: 0px 0 10px 0;
}

.cookieConsent .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: stretch;
  align-content: normal;
}

.buttons .item {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  font-weight: 500px;
  border-radius: 5px;
  background: rgb(139, 195, 74);
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  font-family: "Space Mono", monospace;
}

.buttons button:hover {
  background-color: rgb(233, 30, 99);
  color: white;
}
